* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-align: center;
}

.black {
  color: hsl(222, 11%, 17%);
}

.orange {
  color: hsl(6, 82%, 59%);
}

.grey {
  color: hsl(0, 0%, 83%);
}

.container {
  width: 85%;
  margin: 0 auto;
}

header .top-nav {
  width: 100%;
  height: 35px;
  background-color: hsl(222, 11%, 17%);
}

.page-info {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.page-info .info {
  width: 35%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

header .bottom-nav {
  width: 100%;
  height: 75px;
}

header .bottom-nav .menu {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .bottom-nav .menu .main-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .bottom-nav .menu .main-menu .logo {
  width: 20%;
  height: fit-content;
}

header .bottom-nav .menu .main-menu .logo .logo-name {
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
}

header .bottom-nav .menu .main-menu .navigation {
  width: 60%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

header .bottom-nav .menu .main-menu .navigation .nav-menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
}

header .bottom-nav .menu .main-menu .navigation .nav-menu a {
  font-size: larger;
  text-decoration: none;
  text-transform: capitalize;
}

header .bottom-nav .menu .main-menu .navigation .nav-menu a:hover {
  text-shadow: 4px 4px 4px hsl(0, 0%, 83%);
}

header .bottom-nav .menu .main-menu .navigation .nav-menu .nav-active {
  color: hsl(6, 82%, 59%);
}

header .bottom-nav .menu .main-menu .nav-btn {
  padding: 5px;
  border: 3px solid hsl(6, 82%, 59%);
  color: hsl(6, 82%, 59%);
  background-color: hsl(0, 0%, 100%);
  font-weight: 800;
  cursor: pointer;
}

.nav-mobile-menu {
  display: none;
}

.banner {
  width: 100%;
  height: 70vh;
  background-image: url("../images/home-bg-desk.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.banner .banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner .banner-content > p {
  display: none;
}

.banner .banner-content .main-title {
  position: relative;
}

.banner .banner-content .main-title h1 {
  font-size: 68px;
  font-weight: 800;
  text-transform: uppercase;
  width: 750px;
  margin-bottom: 25px;
}

.banner .banner-content .banner-details {
  padding: 15px;
  border: 2px solid hsl(0, 0%, 83%);
  border-radius: 8px;
  background-color: hsl(0, 0%, 100%);
  margin: 25px 0;
  width: 750px;
  margin-top: 25px;
}

.banner .banner-content .event-details p {
  font-size: 14px;
  font-weight: 400;
}

.banner .banner-content .event-details h4 {
  font-size: 14px;
  font-weight: 800;
  text-decoration: underline;
  margin: 5px 0;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: hsl(6, 82%, 59%);
  border-radius: 4px;
}

.page-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin: 25px 0;
}

.main-program .mp-content .mp-list,
.featured-speakers .fs-content .speaker-list {
  display: flex;
  flex-direction: row;
}

.summit {
  width: 100%;
  height: 400px;
}

.summit .summit-content .sum-com-logo .s-logo {
  width: 50%;
  height: 200px;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: hsl(0, 0%, 83%);
}

.summit-past {
  width: 100%;
  height: 500px;
}

.summit-past .summit-past-content .sum-past-list {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.summit-past .summit-past-content .card {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
  position: relative;
}

.summit-past .summit-past-content .card .content {
  color: hsl(0, 0%, 100%);
  z-index: 9999;
  font-size: larger;
}

.summit-past .summit-past-content .sum-past-2013 {
  background-image: url("../images/s-2013.jpg");
  background-size: cover;
  background-position: center;
}

.summit-past .summit-past-content .sum-past-2011 {
  background-image: url("../images/s-2011.jpg");
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(6, 82%, 59%, 0.649);
}

.partner {
  display: none;
}

footer {
  width: 100%;
  height: 150px;
  background-color: hsl(222, 11%, 17%);
}

footer .footer-content {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer .footer-content .foot-logo,
footer .footer-content .foot-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 83%);
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  header .top-nav {
    display: none;
  }

  .nav-mobile-menu {
    display: block;
  }

  header .bottom-nav {
    position: absolute;
  }

  header .bottom-nav .menu .main-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    height: 100vh;
    transition: 0.3s;
    z-index: 99999;
  }

  header .bottom-nav .menu .main-menu.active {
    left: 0;
  }

  .nav-mobile-menu button {
    width: 30px;
    height: 30px;
    background-image: url("../images/Hamburger_icon.svg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
  }

  .nav-mobile-menu button.active {
    width: 35px;
    height: 35px;
    background-image: url('../images/x.png');
  }

  header .bottom-nav .menu .main-menu .navigation {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 75%;
  }

  header .bottom-nav .menu .main-menu .navigation .nav-menu {
    flex-direction: column;
    gap: 10px;
    height: 50%;
  }

  header .bottom-nav .menu .main-menu .navigation .nav-menu .nav-item {
    padding: 15px 0;
    border-bottom: 2px solid hsl(6, 82%, 59%);
  }

  .banner {
    height: 600px;
    background-image: url("../images/mobile-background.png");
  }

  .banner .banner-content > p {
    font-size: 28px;
    display: block;
  }

  .banner .banner-content .main-title {
    position: relative;
  }

  .banner .banner-content .main-title h1 {
    font-size: 33px;
    width: 350px;
  }

  .banner .banner-content .banner-details {
    width: 350px;
  }

  .banner .banner-content .hide-mobile {
    display: none;
  }

  .banner .banner-content .event-details p {
    font-size: 14px;
  }

  .banner .banner-content .event-details h4 {
    font-size: 14px;
    font-weight: 800;
    text-decoration: underline;
    margin: 5px 0;
  }

  .summit .summit-content .sum-com-logo .s-logo {
    width: 90%;
  }

  .summit-past {
    width: 100%;
    height: 900px;
  }

  .summit-past .summit-past-content .sum-past-list {
    flex-direction: column;
    gap: 0;
  }

  .summit-past .summit-past-content .card {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
    position: relative;
  }

  .summit-past .summit-past-content .card .content {
    color: hsl(0, 0%, 100%);
    z-index: 9999;
    font-size: larger;
  }

  .summit-past .summit-past-content .sum-past-2013 {
    background-image: url("../images/s-2013.jpg");
    background-size: cover;
    background-position: center;
  }

  .summit-past .summit-past-content .sum-past-2011 {
    background-image: url("../images/s-2011.jpg");
    background-size: cover;
    background-position: center;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(6, 82%, 59%, 0.649);
  }

  .partner {
    width: 100%;
    height: 250px;
    background-color: hsl(252, 4%, 26%);
    display: block;
  }

  .partner .partner-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .partner-title {
    height: 50px;
  }

  .partner-list {
    width: 100%;
    height: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
  }

  .partner-list .partner-item {
    width: 100px;
  }

  .partner-list .partner-item > img {
    width: 70%;
  }

  footer {
    width: 100%;
    height: 150px;
    background-color: hsl(0, 0%, 100%);
  }

  footer .footer-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  footer .footer-content .foot-logo,
  footer .footer-content .foot-info {
    font-size: 12px;
    color: hsl(222, 11%, 17%);
  }
}
