* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.black {
  color: hsl(222, 11%, 17%);
}

.orange {
  color: hsl(6, 82%, 59%);
}

.grey {
  color: hsl(0, 0%, 83%);
}

.container {
  width: 85%;
  margin: 0 auto;
}

header .top-nav {
  width: 100%;
  height: 35px;
  background-color: hsl(222, 11%, 17%);
}

.page-info {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.page-info .info {
  width: 35%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

header .bottom-nav {
  width: 100%;
  height: 75px;
}

header .bottom-nav .menu {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .bottom-nav .menu .main-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .bottom-nav .menu .main-menu .logo {
  width: 20%;
  height: fit-content;
}

header .bottom-nav .menu .main-menu .logo .logo-name {
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
}

header .bottom-nav .menu .main-menu .navigation {
  width: 60%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

header .bottom-nav .menu .main-menu .navigation .nav-menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
}

header .bottom-nav .menu .main-menu .navigation .nav-menu a {
  font-size: larger;
  text-decoration: none;
  text-transform: capitalize;
}

header .bottom-nav .menu .main-menu .navigation .nav-menu a:hover {
  text-shadow: 4px 4px 4px hsl(0, 0%, 83%);
}

header .bottom-nav .menu .main-menu .navigation .nav-menu .nav-active {
  color: hsl(6, 82%, 59%);
}

header .bottom-nav .menu .main-menu .nav-btn {
  padding: 5px;
  border: 3px solid hsl(6, 82%, 59%);
  color: hsl(6, 82%, 59%);
  background-color: hsl(0, 0%, 100%);
  font-weight: 800;
  cursor: pointer;
}

.nav-mobile-menu {
  display: none;
}

.banner {
  width: 100%;
  height: 90vh;
  background-image: url("../images/home-bg-desk.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.banner .banner-content {
  height: 500px;
  display: flex;
  flex-direction: column;
}

.banner .banner-content > p {
  font-size: 38px;
}

.banner .banner-content .main-title {
  position: relative;
  width: 100%;
}

.banner .banner-content .main-title h1 {
  font-size: 70px;
  font-weight: 800;
  text-transform: uppercase;
  width: 730px;
  background-image: url("../images/title-bg.jpeg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.banner .banner-content .banner-details {
  padding: 15px;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 4px;
  background-color: hsl(0, 0%, 83%);
  margin: 25px 0;
  width: 730px;
}

.banner .banner-content .event-details h2 {
  margin: 10px 0;
  font-size: 32px;
}

.banner .banner-content .event-details p {
  font-size: 24px;
  font-weight: 400;
}

.bar {
  width: 50px;
  height: 3px;
  background-color: hsl(6, 82%, 59%);
  border-radius: 4px;
}

.page-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.main-program {
  width: 100%;
  height: 650px;
  background-image: url("../images/mp-bg.jpg");
  display: flex;
  align-items: center;
}

.main-program .mp-content,
.featured-speakers .fs-content {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.main-program .mp-content .mp-list,
.featured-speakers .fs-content .speaker-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  margin: 15px 0;
}

.main-program .mp-content .mp-list .mp-item,
.featured-speakers .fs-content .speaker-list .speaker {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-program .mp-content .mp-list .mp-item {
  background-color: hsl(222, 11%, 17%);
  flex-direction: column;
  width: 175px;
  height: 220px;
  padding: 15px 0;
}

.featured-speakers .fs-content .speaker-list .speaker {
  width: 45%;
}

.main-program .mp-content .mp-list .mp-item p {
  width: 150px;
  text-align: center;
}

.main-program .mp-content .mp-list .mp-item h3 {
  width: 125px;
  text-align: center;
}

.main-program .mp-content .mp-foot {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-program .mp-content .mp-foot .program-link {
  font-size: 18px;
  text-decoration: underline;
  text-transform: capitalize;
}

.featured-speakers {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
}

.featured-speakers .fs-content .speaker-list {
  width: 100%;
}

.featured-speakers .fs-content .speaker-list .speaker .s-img img {
  width: 100%;
}

.featured-speakers .fs-content .speaker-list .speaker .s-details {
  width: 100%;
  margin-left: 25px;
}

.featured-speakers .fs-content .speaker-list .speaker .s-details p {
  font-size: 18px;
}

.featured-speakers .fs-content .speaker-list .speaker .s-details .s-bar {
  width: 35px;
  height: 3px;
  background-color: hsl(0, 0%, 83%);
  border-radius: 4px;
  margin: 10px 0;
}

.partner {
  width: 100%;
  height: 350px;
  background-color: hsl(252, 4%, 26%);
}

.partner .partner-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partner-title {
  height: 50px;
}

.partner-list {
  width: 100%;
  height: auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.partner-list .partner-item {
  width: 300px;
}

.partner-list .partner-item .p-img {
  width: 70%;
}

.mobile-end {
  display: none;
}

footer {
  width: 100%;
  height: 150px;
}

footer .footer-content {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer .footer-content .foot-logo,
footer .footer-content .foot-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  header .top-nav {
    display: none;
  }

  .nav-mobile-menu {
    display: block;
  }

  header .bottom-nav {
    position: absolute;
  }

  .nav-mobile-menu button {
    width: 30px;
    height: 30px;
    background-image: url("../images/Hamburger_icon.svg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
  }

  .nav-mobile-menu button.active {
    width: 35px;
    height: 35px;
    background-image: url('../images/x.png');
  }

  header .bottom-nav .menu .main-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    height: 100vh;
    transition: 0.3s;
    z-index: 99999;
  }

  header .bottom-nav .menu .main-menu.active {
    left: 0;
  }

  header .bottom-nav .menu .main-menu .navigation {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 75%;
  }

  header .bottom-nav .menu .main-menu .navigation .nav-menu {
    flex-direction: column;
    gap: 10px;
    height: 50%;
  }

  header .bottom-nav .menu .main-menu .navigation .nav-menu .nav-item {
    padding: 15px 0;
    border-bottom: 2px solid hsl(6, 82%, 59%);
  }

  .banner {
    height: 520px;
    background-image: url("../images/mobile-background.png");
  }

  .banner .banner-content {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .banner .banner-content > p {
    font-size: 28px;
  }

  .banner .banner-content .main-title h1 {
    width: 330px;
    font-size: 31.5px;
  }

  .banner .banner-content .banner-details {
    width: 330px;
  }

  .banner .banner-content .event-details h2 {
    font-size: 18px;
  }

  .banner .banner-content .event-details p {
    font-size: 14px;
    font-weight: 400;
  }

  .main-program {
    height: 850px;
  }

  .main-program .mp-content .mp-list,
  .featured-speakers .fs-content .speaker-list {
    width: 100%;
    flex-direction: column;
  }

  .main-program .mp-content .mp-list .mp-item,
  .featured-speakers .fs-content .speaker-list .speaker {
    width: 100%;
    flex-direction: row;
    height: fit-content;
  }

  .main-program .mp-content .mp-list .mp-item p {
    text-align: left;
  }

  .main-program .mp-content .mp-list .mp-item h3 {
    width: 75px;
  }

  .main-program .mp-content .mp-foot {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-program .mp-content .mp-foot a {
    padding: 25px 30px;
    background-color: hsl(6, 82%, 59%);
    color: hsl(0, 0%, 100%);
    font-size: 22px;
    text-decoration: none;
    text-transform: capitalize;
  }

  .featured-speakers {
    width: 100%;
    height: 100%;
  }

  .featured-speakers .fs-content .speaker-list .speaker .s-img img {
    width: 155px;
  }

  .featured-speakers .fs-content .speaker-list .speaker .s-details {
    width: 200px;
  }

  .featured-speakers .fs-content .speaker-list .speaker .s-details p {
    font-size: 14px;
  }

  .partner {
    display: none;
  }

  footer {
    display: none;
  }

  .mobile-end {
    border: 2px solid hsl(0, 0%, 83%);
    display: flex;
    align-items: center;
    height: 55px;
    border-radius: 8px;
  }

  .mobile-end .ep {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    text-decoration: none;
  }
}
