* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-align: center;
}

.black {
  color: hsl(222, 11%, 17%);
}

.orange {
  color: hsl(6, 82%, 59%);
}

.grey {
  color: hsl(0, 0%, 83%);
}

.container {
  width: 85%;
  margin: 0 auto;
}

header .top-nav {
  width: 100%;
  height: 35px;
  background-color: hsl(222, 11%, 17%);
}

.page-info {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.page-info .info {
  width: 35%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

header .bottom-nav {
  width: 100%;
  height: 75px;
}

header .bottom-nav .menu {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-mobile-menu {
  display: none;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: hsl(6, 82%, 59%);
  border-radius: 4px;
}

.page-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin: 25px 0;
}

.main-program .mp-content .mp-list,
.featured-speakers .fs-content .speaker-list {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  header .top-nav {
    display: none;
  }

  .nav-mobile-menu {
    display: block;
  }

  header .bottom-nav {
    position: absolute;
  }

  .nav-mobile-menu button {
    width: 30px;
    height: 30px;
    background-image: url("../images/Hamburger_icon.svg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
  }

  header .bottom-nav .main-menu {
    display: none;
  }

  .banner {
    width: 100%;
    height: 600px;
    background-image: url("../images/mobile-background.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

  }

  .banner .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner .banner-content > p {
    font-size: 28px;
  }

  .banner .banner-content .main-title {
    position: relative;
  }

  .banner .banner-content .main-title h1 {
    font-size: 33px;
    font-weight: 800;
    text-transform: uppercase;
    width: 350px;
  }

  .banner .banner-content .banner-details {
    padding: 15px;
    border: 2px solid hsl(0, 0%, 83%);
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    margin: 25px 0;
    width: 350px;
  }

  .banner .banner-content .event-details p {
    font-size: 14px;
    font-weight: 400;
  }

  .banner .banner-content .event-details h4 {
    font-size: 14px;
    font-weight: 800;
    text-decoration: underline;
    margin: 5px 0;
  }

  .summit {
    width: 100%;
    height: 400px;
  }

  .summit .summit-content {
    width: 100%;
  }

  .summit .summit-content .sum-com-logo .logo {
    width: 90%;
    height: 200px;
  }

  .divider {
    width: 100%;
    height: 2px;
    background-color: hsl(0, 0%, 83%);
  }

  .summit-past {
    width: 100%;
    height: 800px;
  }

  .summit-past .summit-past-content .card {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
    position: relative;
  }

  .summit-past .summit-past-content .card .content {
    color: hsl(0, 0%, 100%);
    z-index: 9999;
    font-size: larger;
  }

  .summit-past .summit-past-content .sum-past-2013 {
    background-image: url("../images/s-2013.jpg");
    background-size: cover;
    background-position: center;
  }

  .summit-past .summit-past-content .sum-past-2011 {
    background-image: url("../images/s-2011.jpg");
    background-size: cover;
    background-position: center;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(6, 82%, 59%, 0.649);
  }

  .partner {
    width: 100%;
    height: 250px;
    background-color: hsl(252, 4%, 26%);
  }

  .partner .partner-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .partner-title {
    height: 50px;
  }

  .partner-list {
    width: 100%;
    height: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
  }

  .partner-list .partner-item {
    width: 100px;
  }

  .partner-list .partner-item > img {
    width: 70%;
  }

  footer {
    width: 100%;
    height: 150px;
  }

  footer .footer-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
